
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  /* shared style */
  .display-flex{
    display: flex;
  }
  .dark-3{
    color: rgba(114, 114, 114, 1);
  }
  .dark-2{
   color:rgba(66, 66, 66, 1) ; 
  }
   .bg-color{
    background-color: rgba(255, 144, 14, 0.1);
   }
   main > section{
    margin-top: 130px;
   }

  /* header style */


  /* navbar related styles */
  .navbar{
    justify-content: space-between;
    /* margin: 0px auto; */
    align-items: center;
    /* text-align: center; */
  }
  .nav-items{
    list-style: none;
    gap: 30px;
  }
  .nav-links{
    text-decoration: none;
  }
  .navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
  }
  .brand{
    font-size: 3rem;
    font-weight: bold;
  }
  /* banner */
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .banner-title{
  font-weight: bold;
  font-size: 4rem;
  }
  .banner-description{
    font-size: 1rem;
  }
  .btn-primary{
   background-color:rgba(255, 144, 14, 1); 
   font-size: 20px;
   font-weight:700px ;
   color:rgba(255, 255, 255, 1);
   padding: 20px 24px;
   border-radius: 8px;
   border: none;
  }
  .banner-img{
    width: 100%;
  }
  /* features style */
   main{
    max-width: 1440px;
    margin: 0 auto;
    }
    .features{
      display: flex;
    align-items: center;
    }
  .features-img{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 24px;
  }
  .features-text{
    margin-left: 130px;
    max-width: 537px;
    
  }
  .heading{
    font-size: 3rem;
    font-weight: 800;
  }
  #quick-list{
    font-weight: 500;
    font-size: 3rem;
  }
  .feat{
    color:rgba(255, 144, 14, 1);
  }
  /* features you will love and enjoy */
  .fyw{
    font-size: 3rem;
    font-weight: 800;

  }

   @media screen and (max-width: 576px){
    .navbar, 
    .nav-items , 
    .features {
      flex-direction: column;
    }
    .features-img{
      grid-template-columns:repeat(1,1fr);
    }
    .features-text{
      margin: 0 auto;
    }
   }
    
   